option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://postgres:david_santiago03@pokeapi-database.cgn2ugcaqiae.us-east-1.rds.amazonaws.com:5432/pokeapi?schema=public"
    JWT_SECRET: "GENGAR_SECRET_SUPER_SEGURO"
    PORT: "8080"
    BASIC_AUTH_USER: "admin"
    BASIC_AUTH_PASSWORD: "kitkaton123"
    NODE_ENV: "production"